 body {
    padding-top: 110px;
}
.container{ 
    background-color: rgb(255, 255, 255);
}
#fundo2{
    background-color: transparent !important;
}
.txt1{
    font-size: 20px;
}
.img2 img{
    width: 100%;
}
.card {
    border: none !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    margin-top: 50px !important;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    border-color: #2b632d;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #377c3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #1a3b1c;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold !important;
}
.eventos{
    margin-top: 20px !important;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 30px;
  font-size: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: #fff;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  animation: aparecer 0.3s ease;
}


.fechar {
  float: right;
  font-size: 28px;
  cursor: pointer;
}
